<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<a href="/cors">cors</a>
  	<a href="/users">resetful</a>
  </body>
</html>
